# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Javascript / Node
node_modules/
dist/
dist-ssr/
*.local

# Database
*.db
*.sqlite3

# Logs
*.log
backend/data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.gemini/
